<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333189008736-mb6vcl2ibpo806mucd8oh3o7bi9123u6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333189008736-mb6vcl2ibpo806mucd8oh3o7bi9123u6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>333189008736-3kc03s1r6ajfrmbpuh17iibm2tapdtcf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7k9AN2d-T2H-Qgep65bOIvxTA6Ern1e0</string>
	<key>GCM_SENDER_ID</key>
	<string>333189008736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viettel.ecabinets</string>
	<key>PROJECT_ID</key>
	<string>ecabinet-vpdt</string>
	<key>STORAGE_BUCKET</key>
	<string>ecabinet-vpdt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333189008736:ios:77d3e88bc0aeb97626a205</string>
</dict>
</plist>